// 项目提供scss全局变量
// 定义项目颜色主题


// 左侧菜单的宽度
$base-menu-width: 230px;
// 左侧菜单的背景颜色
$base-menu-background: #2b303b;

// 左侧菜单logo高度设置
$base-menu-logo-height: 50px;
// 左侧菜单logo文字大小
$base-menu-title-fontsize: 20px;
$base-menu-min-width: 60px;


// 顶部导航高度
$base-tabbar-height: 50px;
